@import "tailwindcss";

@theme {
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f172a; /* slate-900 */
  color: white;
  touch-action: none;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.clip-path-yacht {
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
}

